export PYTHONPATH={{ env_var_python_path }}
export PATH={{ env_var_path }}
export AIRFLOW_HOME={{ airflow_home }}
export AIRFLOW_CONFIG={{ airflow_config }}
export AIRFLOW__CORE__SQL_ALCHEMY_CONN={{ airflow_db_conn }}
